body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.hero {
    background-color: #87CEEB; /* Light Sky Blue */
    height: 180px; /* Fixed height */
    width: 80%; /* Relative width */
    margin: 0 auto; /* Center horizontally */
}

.hero p {
    margin-top: 0%;
    margin-bottom: 0%;
}

.content-container {
    display: flex;
    flex: 2;
}

.content {
    background-color: #98FB98; /* Pale Green */
    height: 445px; /* Fixed height */
    width: 65%; /* Relative width */
    margin-left: 10%;
}

.sidebar {
    flex: 1;
    background-color: #FFD700; /* Gold */
    height: 445px; /* Fixed height */
    width: 35%; /* Relative width */
    margin-right: 10%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    body, header,  .hero p, .content-container, footer {
        margin: 0;
        padding: 0;
    }
    header, footer {
        height: 80px;
        width: auto;  
    }

    header p {
        margin-top: 0;
        margin-bottom: 0;
    }

    footer p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .hero {
        width: 100%; /* Full width for hero on tablets */
    }

    .content-container {
        width: 100%; /* Full width for container on tablets */
    }

    .content,
    .sidebar {
        width: 80%; /* Adjusted width for content and sidebar on tablets */
        margin: 0 auto; /* Center horizontally on tablets */
    }
}

@media (max-width: 768px) {
    .hero {
        margin: 0;
        width: 100%;
    }
    .content-container {
        margin: 0;
        width: 100%; /* Set the width to 100% for mobile */
        flex-direction: column; /* Set flex-direction to column for mobile */
    }
    .content,
    .sidebar {
        width: 100%; /* Full width for content and sidebar on mobile */
        margin: 0; /* Remove margin on mobile */
    }

    .sidebar {
        min-height: 200px;
    }
}